--- title: Foundation for sites ---

<html class="no-js" lang="en" dir="ltr">

<head>

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>

<body>

    <div class="container-fluid text-center" id="header">

        <div class="row">
            <div class="small-1 columns">
                <h3><b>Red Panthers</b>  <i class="step fi-address-book size-36"></i> </h3>

            </div>
            <div class="small-5 columns"><br>
                <h6>Work with Red Panthers <a href="#" class="button">Simple Button</a></h6>

            </div>
        </div>
        <br>

        <div class="row">
            <div class="small-6 large-centered columns">
                <h3>Hello! Come work with <b>Red Panthers</b> </h3> WE SPECIALIZE IN HELPING OUR CLIENTS VALIDATE, BUILD AND EXPAND THEIR BUSINESS THROUGH TECHNOLOGY</div>
        </div>

    </div>




    <div id=row1 class="container-fluid text-center">


        <p><strong>This is a twelve column section in a row.</strong> Each of these includes a div.callout element so you can
            see where the columns are - it's not required at all for the grid.</p>


        <div class="large-5 medium-5 large-offset-1 columns">

            <p>Six columns</p>

        </div>
        <div class="large-5 medium-5 columns">

            <p>Six columns</p>

        </div>


    </div>
    <div class="container-fluid">
        <div class="row" data-equalizer>
            <div class="large-3 columns panel" data-equalizer-watch>
                ffffffffffffffffffffffffffffffffffffffffffffff
            </div>
            <div class="large-3 columns panel" data-equalizer-watch>
                sfaffffffffffffffffffffffffffffffffffffffffffffffff
            </div>
            <div class="large-3 columns panel" data-equalizer-watch>
                ffffffffffffffffffffffffffffffffffffffffffffff
            </div>
            <div class="large-3 columns panel" data-equalizer-watch>
                sfaffffffffffffffffffffffffffffffffffffffffffffffff
            </div>
        </div>

    </div>

    <hr />


    <form>

        <div class="row">
            <div class="large-6 medium-6 columns">
                <label>Input Label</label>
                <h5>We bet you&rsquo;ll need a form somewhere:</h5>
            </div>

            <div class="large-6 medium-6 columns">
                <div class="row collapse">
                    <label>Input Label</label>
                    <div class="input-group">
                        <input type="text" placeholder="small-9.columns" class="input-group-field" />
                        <span class="input-group-label">.com</span>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <div class="container-fluid text-center" id="row2">
        <div class="row">
            <div class="small-6 large-centered columns" id="contentofrow2">
                <h3>Hello! Come work with <b>Red Panthers</b> </h3> WE SPECIALIZE IN HELPING OUR CLIENTS VALIDATE, BUILD AND EXPAND THEIR BUSINESS THROUGH TECHNOLOGY</div>
            <a href="#" class="button">Simple Button</a>

        </div>

    </div>

    <div class="container-fluid text-center" id="row3">
        <div class="row">
            <div class="small-6 large-centered columns" id="contentofrow2">
                <h2>Hello! Come work with <b>Red Panthers</b> </h2> WE SPECIALIZE IN HELPING OUR CLIENTS VALIDATE, BUILD AND EXPAND THEIR BUSINESS THROUGH TECHNOLOGY



                <form>

                    <div class="row">
                        <div class="large-6 medium-6 columns">

                            <input size="20" type="text" placeholder="Your name" class="input-group-field" />

                        </div>

                        <div class="large-6 medium-6 columns">
                            <div class="row collapse">

                                <div class="input-group">
                                    <input size="20" type="text" placeholder="Your email" class="input-group-field" />
                                    <span class="input-group-label">.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        </form>


    </div>


    <br>
    <div class="row">
        <div class="column medium-4">

            <ul class="pricing-table no-bullet text-center">
                <li class="title">Standard</li>
                <li class="price">$99.99</li>
                <li class="description">An awesome description</li>
                <li>1 Database</li>
                <li>5GB Storage</li>
                <li>20 Users</li>
                <li><a id="butt" class="button" href="#">Buy Now</a></li>
            </ul>

        </div>
        <div class="column medium-4">

            <ul class="pricing-table recommended no-bullet text-center">
                <li class="best"><span>Recommended</span></li>
                <li class="title">Standard</li>
                <li class="price">$99.99</li>
                <li class="description">An awesome description</li>
                <li>1 Database</li>
                <li>5GB Storage</li>
                <li>20 Users</li>
                <li><a class="button" href="#">Buy Now</a></li>
            </ul>

        </div>
        <div class="column medium-4">

            <ul class="pricing-table no-bullet text-center">
                <li class="title">Standard</li>
                <li class="price">$99.99</li>
                <li class="description">An awesome description</li>
                <li>1 Database</li>
                <li>5GB Storage</li>
                <li>20 Users</li>
                <li>1 Database</li>
                <li>5GB Storage</li>
                <li>20 Users</li>
                <li><a id="butt" class="button" href="#">Buy Now</a></li>
            </ul>

        </div>
    </div>

    <br>



    <div class="row text-center">

        <i class="step fi-quote size-100" item-width="30px"></i>
        <br>
        <div class="large-6 medium-6 columns">
            <p>A whole kitchen sink of goodies comes with Foundation. Check out the docs to see them all, along with details
                on making them your own.</p>
            <img class="img-circle" src="img1.png" width="150px" height="150px">
        </div>

        <div class="large-6 medium-6 columns">

            <p>A whole kitchen sink of goodies comes with Foundation. Check out the docs to see them all, along with details
                on making them your own.</p>
            <img class="img-circle" src="img1.png" width="150px" height="150px">

        </div>
    </div>





    <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>

        <nav class="orbit-bullets">
            <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
            <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>

        </nav>
    </div>
    <div class="container-fluid">
        <div class="row text-left">



            <div class="large-4 medium-3  columns">
                <p>A whole kitchen sink of goodies comes with Foundation. Check out the docs to see them all, along with details
                    on making them your own.</p>

            </div>

            <div class="large-4 medium-3 columns">

                <p>A whole kitchen sink of goodies comes with Foundation. Check out the docs to see them all, along with details
                    on making them your own.</p>


            </div>
            <div class="large-4 medium-3  columns end">

                <p>A whole kitchen sink of goodies comes with Foundation. Check out the docs to see them all, along with details
                    on making them your own.</p>


            </div>
        </div>
    </div>
</div>


<!-- Footer -->
 
  <footer id="foot" class="row text-center">
    <div class="large-12 columns">
     <div class="row" id=footinside>
     <br>
        <div class="large-6 columns">
        <div class="row">
          <p>&copy; Copyright no one at all. Go to town.</p></div>
        </div>
        <div class="large-6 columns">
          <div class="row">
          <i class="step fi-social-facebook " ></i>
          <i class="step fi-social-twitter  "></i>
          <i class="step fi-social-facebook "></i>

          </div>
          
        </div>
      </div>
    </div>
  </footer>





    <script src="javascript/jquery.js"></script>
    <script src="javascript/what-input.js"></script>
    <script src="javascript/foundation.js"></script>
    <script src="javascript/app.js"></script>
</body>

</html>

